/*@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);*/
menu, ol, ul {
    padding: 0 20px 0 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
    font-family: "opensanshebrew";
    margin: 0;
}
h2, h3, h4, h5, h6 {
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
}
.clear-fix{
    clear: both;
}

.error{
    border: 1px solid red !important;
}

.container{
    width:100%;
}

/*.row {
    max-width: 1400px;
}*/
a {
    outline: 0;
}

a:focus {
    outline: 0 !important;
}

a:hover{
    text-decoration: none;
}

/*#wrapper{
    overflow:hidden;
}*/

.page_wraper .container-fluid{
    overflow:hidden;
    position: static;
}

#menu-toggle{
    display: none;
}

#menu-toggle{
    position: absolute;
    right: 0;
    z-index: 9999;
    font-size: 2.0rem;
    padding: 8px 15px;
    line-height: 1;
    border-radius:0;
    background-color: #502716;
    color: #fff;
    border: 0;
}

#menu-toggle:focus,
#menu-toggle:hover{
    line-height: 1;
    border-radius:0;
    background-color: #502716;
    color: #fff;
    border: 0;
}

.page_wraper .container-fluid{
    padding:0;
}

.top_div{
    min-height: 255px;
    width: 100%;
    background-color: #b7cf38;
    padding:20px;
    text-align: center;
    position: relative;
}

.socials{
    text-align: left;
    float: left;
}

.socials a{
    margin: 0 10px;
    float: left;
    display: block;
}

.socials a img{
    display: block;
    height: auto;
    mask-width: 100%;
}

.search_div{
    float: right;
}

.search_div a{
    display: block;
}

.search_div a img{
    display: block;
    height: auto;
    mask-width: 100%;
}

.abs_from{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.9);
    z-index: 9999999;
}

.header_form{
    position: relative;
    height: 100%;
}

.header_form form{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    width: 70%;
    transform: translateY(-50%);
}

.header_form input[type="search"]{
    box-sizing: border-box;
    height: 70px;
    border-radius: 0;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    font-size: 1.3rem;
    padding-left: 20px;
    padding-right: 80px;
    -webkit-appearance: none;
}

.input_div{
    position: relative;
}

.search-submit{
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    background: none;
    width: 70px;
    background-color: #502716;;
    height: 100%;
    font-size: 1.7rem;
}

.close_search{
    font-size: 36px;
    position: absolute;
    top: 50px;
    left: 50px;
    color: #5f5f5f;
    z-index: 9;
}


.search-submit i{
    color: #fff;
}



.logo_div{
    text-align: center;
    margin: 20px 0;
    margin-top: 35px;
}


.logo_div a{
    display: inline-block;
}

.top_div .main_label{
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 0px 2px #868686;
}


.bottom_div{
    padding: 20px 40px;
    width: 100%;
}

.bottom_div .menu_wrap{
    margin: 20px 0;
}

.products_div ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.products_div ul li {
    border: 1px solid #e8e5e4;
    border-radius: 10px;
    margin-bottom: 7px;
}

.products_div ul li a{
    background-color: #e6eeba;
    border: 3px solid #fff;
    padding: 4px;
    display: block;
    text-align: center;
    color: #502716;
    font-size: 1.3rem;
    border-radius: 10px;
    height: 43px;
/*    -webkit-box-shadow: 0px 0px 16px 0px rgba(230,238,186,1);
-moz-box-shadow: 0px 0px 16px 0px rgba(230,238,186,1);
box-shadow: 0px 0px 16px 0px rgba(230,238,186,1);*/
}

.icons_div{
    text-align: center;
    margin-top: 40px;
}

.icons_div a{
    display: inline-block;
}

/*===============================================================
                        H O M E P A G E
===============================================================*/

.main_slider_wrap{
    position: relative;
    overflow: hidden;
}

.bg_home{
    height: 100%;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top center fixed;
    background-repeat: no-repeat;
    position: relative;
}


.bg_home_wrap .carousel-arr {
    position: absolute;
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    cursor: pointer;
    height: 39px;
    width: 39px;
    z-index: 9;
    top: 50%;
}

.bg_home_wrap .slick-slide {
  outline: none;
}

.bg_home_wrap .slick-next,
.bg_home_wrap .slick-prev{
    display: none !important;
}

.bg_home_wrap .carousel-next.carousel-arr{
    background-position: -4px -3px;
    left: 2%;
}

.bg_home_wrap .carousel-prev.carousel-arr{
    background-position: -3px -50px;
    right: 2%;
}

.arr_scroll{
    position: absolute;
    width: 100%;
    bottom: 60px;
    text-align: center;
}

.home_con_sec .container{
    width: 100%;
    padding: 0px 10%;
}

.home_content h1{
    text-align: center;
    margin: 60px 0;
    font-size: 2.8rem;
    line-height: 45px;
}

.home_content p{
    color: #502716;
    font-size: 1rem;
}



.home_pro_slider{
    min-height: 430px;
}

.home_pro_slider .h2{
    margin-top: 80px;
    margin-bottom: 10px;
    font-size: 2.1rem;
    line-height: 24px;
}
section.about_con_sec {
    margin-bottom: 20px;
}
.wrap_home_products{
    opacity: 0;
    padding: 0 5%;
    padding-top: 35px;
}
body.loaded .wrap_home_products{
    opacity: 1;
}

.wrap_home_products .wrap_product{
    text-align: center;
}

.wrap_home_products .wrap_product .product_slide{
    height: 180px;
    position: relative;
    overflow: hidden;

}

.wrap_home_products .wrap_product a img{
    display: inline-block;
    max-width: 75%;
    display: inline-block;
    max-width: 75%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.wrap_home_products .wrap_product a .pro_label{
    color: #502716;
    font-size: 1.2rem;
    font-weight: bold;
}

.wrap_home_products .carousel-arr {
    position: absolute;
    background-image: url(../images/spritesheet2.png);
    background-repeat: no-repeat;
    cursor: pointer;
    height: 32px;
    width: 32px;
    z-index: 9;
    top: 50%;
}

.wrap_home_products .slick-slide {
  outline: none;
}

.wrap_home_products .slick-next,
.wrap_home_products .slick-prev{
    display: none !important;
}

.wrap_home_products .carousel-next.carousel-arr{
    background-position: -4px -4px;
    left: 1%;
}

.wrap_home_products .carousel-prev.carousel-arr{
    background-position: -4px -43px;
    right: 1%;
}

.full_proccess_sec{
    /*min-height: 582px;*/
    margin-top: 50px;
    margin-bottom:60px;
}

.full_proccess_sec .container{
    width: 100%;
    padding: 0 3%;
}
.full_proccess_sec .con_proccess{
    color: #502716;
    font-size: 1rem;
}

.full_proccess_sec .img_div{
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;
    text-align: center;
}

.full_proccess_sec .img_div1,
.full_proccess_sec .img_div2{
    min-height: 300px;
    background-size: contain !important;
}

.full_proccess_sec a{
    color: #000;
}

.full_proccess_sec .h2 p{
    font-size: 2.1rem;
    margin-bottom: 15px;
    line-height: 40px;
}

.full_proccess_sec .row .h2{
    margin-top: 35px;
}


.full_proccess_sec .row:first-child .h2{
    margin-top: 0;
}
.full_proccess_sec span:first-child{
    color:#b7ce39;
}
/*===============================================================
                        A B O U T
===============================================================*/

.about_con_sec h1{
    font-size: 3rem;
    line-height: 40px;
    margin-bottom: 40px;
}

.about_con_sec h4{
    font-size: 1.3rem;
}

.about_con_sec ul{
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-bottom: 30px;
}

.about_con_sec p{
    color: #502716;
}

.recent_col{
    margin-bottom: 30px;
}

.recent_img{
    min-height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 1px solid #f2f0f3;
    text-align: center;
}

.recent_img img{
    max-width: 100%;
    display: inline-block;
    height: auto;
}

.last_articles_sec .wrap_article_title{
    margin-bottom: 30px;
    margin-top: 30px;
}

/*.last_articles_sec h2{
    font-size: 2.1rem;
    line-height: 24px;
}*/


.last_articles_sec .recent_title h4{
    color: #b7cf38;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}

.last_articles_sec .recent_con{
    color: #502716;
}

/*===============================================================
                      C A T E G O R Y
===============================================================*/

.cat_con_sec h1{
    font-size: 3rem;
    line-height: 40px;
    margin-bottom: 40px;
}

.cat_con_sec .cat_desc{
    margin-bottom: 40px;
}

.cat_con_sec .article_col{
    margin-bottom: 50px;
   /* height: 200px;*/
}
.cat_con_sec .category_item_title p,
.cat_con_sec .category_item_title{
    font-size:22px;
}

.cat_con_sec,
.cat_con_sec p{
    color: #502716;
    font-size:0.9rem;
}
.cat_con_sec span:first-child{
    color:#b7cf38;
}
.cat_con_sec .excerpt_div{
    border-bottom: 1px solid #ccc;
    color: #502716;
    height: 85px;
    overflow: hidden;
    padding-bottom: 20px;
}

.cat_con_sec .title_div h3{
    color: #502716;
    font-size:0.9rem;
    margin-bottom:5px;
    font-weight: bold;
}


/*===============================================================
                      C O NT A C T
===============================================================*/

.contact_sec .form_desc{
    margin-bottom:30px;
}

.contact_sec .category_item_title{
    font-size: 1.6rem;
    margin-bottom: 40px;
}

.contact_sec .con_div{
    border-right: 1px solid #e0e0e0;
    min-height: 480px;
    margin-right: 6%;
}

.contact_sec .con_div a{
    color: #502716;
}

.contact_sec .con_div p{
    color: #502716;
    font-size: 1.2rem;
    line-height: 25px;
    margin-bottom:40px;
}

/*.contact_sec .con_div p:first-child{
    margin-bottom:0;
}
*/
.contact_sec .form_desc p{
    line-height: 1.2rem;
    font-size: 1.0rem;
}

.contact_sec form .con_input{
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-size: 1.3rem;
    margin-bottom: 10px;
    border: 1px solid #b6c294;
    -webkit-appearance: none;
    border-radius: 0;
}

.contact_sec form textarea{
    width: 100%;
    padding-left: 20px;
    font-size: 1.3rem;
    margin-bottom: 10px;
    border: 1px solid #b6c294;
    height: 132px;
    resize: none;
    padding-top: 10px;
    -webkit-appearance: none;
    border-radius: 0;
}

.contact_sec form input[type="submit"]{
    width: 100%;
    height: 56px;
    background-color: #b7cf38;
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    border: 1px solid #b6c294;
    -webkit-appearance: none;
    border-radius: 0;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #502716;
}

.contact_sec .wpcf7-not-valid-tip{
    font-size: 1em;
    display: block;
    margin-bottom: 20px;
    background: #c44646;
    color: #fff;
    padding-left: 10px;
    padding: 4px 10px;
}

.wpcf7-not-valid{
    border: 1px solid red !important;
    margin-bottom:0 !important;
}


.map_sec{
    margin-top: 100px;
}

.map_sec h2,
.map_sec .map_sec_title {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1.4rem;
}

.map_div{
    min-height: 388px;
}

/*===============================================================
                  C  A  T   -   P R O D U C T S
===============================================================*/

.procat_sec h1{
    margin-bottom: 40px;
}

.procat_desc{
    margin-bottom: 40px;
    font-size: 0.9rem;
}

.procat_img{
    /*min-height: 208px;*/
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}


.procat_name{
    font-size: 1.9rem;
    color: #382c2c;
    margin-top: 10px;
    margin-bottom: 30px;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
}

.procat_link:hover .procat_name{
    color: #b7cf38;
    font-weight: bold;
}

.prodesc_sec{
    margin-top: 30px;
}

.prodesc_sec p{
    font-size: 1.0rem;
}



/*===============================================================
                  C  A  T   -   P R O D U C T S
===============================================================*/

.childs_cat_sec a{
    display: block;
}

.childs_cat_sec a img{
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.child_cat_name{
    color: #b7cf38;
    font-weight: bold;
    font-size: 1.2rem;
    margin : 10px 0;
}

.child_cat_desc{
    text-align: center;
    color: #502716;
    padding: 0 20px;
}

.child_cat_img{
    height: 220px;
}

.col_pro_child{
    margin-bottom: 40px;
}



/*===============================================================
                  P R O D U C T   -   P A G E
===============================================================*/

.product_desc{
    color: #502716;
    font-size: 0.9rem;
}

.product_gallery_sec{
    margin-top: 40px;
    margin-bottom: 60px;
}

.product_gallery {
    opacity: 0;
    padding: 0 15%;
}

body.loaded .product_gallery {
    opacity: 1;
}

.product_gallery .product_gallery_inner .img_wrap{
    text-align: center;
}

.product_gallery .product_gallery_inner .img_wrap img{
    display: inline-block;
    max-width: 100%;
}

.product_gallery .product_gallery_inner .product_gallery_title{
    min-height: 53px;
    line-height: 53px;
    text-align: center;
    color: #8cc541;
    font-size: 1.8rem;
}


.product_gallery .carousel-arr {
    position: absolute;
    background-image: url(../images/spritesheet2.png);
    background-repeat: no-repeat;
    cursor: pointer;
    height: 32px;
    width: 32px;
    z-index: 9;
    top: 50%;
}

.product_gallery .slick-slide {
  outline: none;
}

.product_gallery .slick-next,
.product_gallery .slick-prev{
    display: none !important;
}

.product_gallery .carousel-next.carousel-arr{
    background-position: -4px -3px;
    left: 1%;
}

.product_gallery .carousel-prev.carousel-arr{
    background-position: -4px -44px;
    right: 1%;
}

.product_desc_sec .wrap_desc h4,
.product_desc_sec .wrap_desc .h4title {
    color: #502716;
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.product_desc_sec .wrap_desc p{
    color: #502716;
    font-size: 0.9rem;
}

.product_table_sec h4{
    color: #502716;
    font-size: 1.1rem;
    margin-bottom: 35px;
    margin-top: 20px;
}

.outer_table{
    border: 2px solid #8cc541;
}

.product_table_sec table{
    margin-bottom: 0;
}

.product_table_sec table thead{
    /*border-right: 2px solid #8cc541;*/
}

.product_table_sec table tbody{
    /*border-right: 2px solid #8cc541;*/
    /*border-bottom: 2px solid #8cc541;*/
}

.product_table_sec table th,
.product_table_sec table td{
    font-size: 1.1rem;
    text-align: center;
    border-right: 1px solid #fff;
}

.product_table_sec table th {
    background-color: #8cc541;
    color: #fff;
}

.product_table_sec table th:last-child{
    border-right:0;
}

.product_table_sec table td{
    color: #502716;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th{
    border-top: 0;
    padding: 1.25%;
}

.table>thead:first-child>tr:first-child>th:first-child{
    text-align: left;
    padding-left: 20px;
}

.table-striped>tbody>tr>td:first-child{
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
}

.table-striped>tbody>tr>td:last-child{
    border-right: 0;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f4f0f0;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #e4e4e4;
    /*border-left: 2px solid #8cc541;*/
}

.table-striped>tbody>tr:nth-of-type(odd)>td:first-child{
    /*border-left: 1px solid #8cc541;*/
}

.table-striped>tbody>tr:nth-of-type(even)>td:first-child{
    /*border-left: 4px solid #8cc541;*/
}


/*===============================================================
                        P A G E
===============================================================*/

.wrap_page{
    padding: 0 3%;
}

.bg_page{
    min-height: 255px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.breadcrumbs_div{
    text-align: right;
    padding: 5px 0;
}

.breadcrumbs_div p span,
.breadcrumbs_div p a{
    color: #502716;
    font-weight: normal;
}
.breadcrumbs_div span.breadcrumb_last{
    font-weight: bold;
}
.breadcrumb_last,
.breadcrumbs_div p span.last_child_bread{
    font-weight:700;
}

#breadcrumbs > span:last-child{
    font-weight: bold;
}
.brown{
    color: #502716;
}
.green{
    color: #b7cf38;
}


/*===============================================================
                    S E A R C H  -  P A G E
===============================================================*/

.search_results{
    min-height: 700px;
}

.results_div{
    min-height: 500px;
}

.results_div ul{
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 3rem;
}

.results_div ul li a{
    font-size: 1.2rem;
    color: #502716;
    display: block;
    padding-left:20px;
}

.results_div ul li a:hover{
    background-color: #efefef;
}

.col_head h4{
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: #502716;
}

.pagination_div{
    text-align: center;
    padding-top: 40px;
}

.pagination_div span,
.pagination_div a{
    color: #502716;
    font-size: 1.4rem;
    color: #502716;
    font-size: 1.4rem;
    padding: 5px 15px;
    display: inline-block;
}

.pagination_div .prev {
    margin-right: 10px;
}

.pagination_div .next {
    margin-left:10px;
}

span.page-numbers.current{
    background-color: #502716;
    padding: 6px 15px;
    color: #fff;
}

/*===============================================================
                      S I N G L E
===============================================================*/

.single_sec .single_thumb{
    text-align: center;
}

.single_sec .single_thumb img{
    max-width: 100%;
    display: inline-block;
    height: auto;
}

/*===============================================================
                      F O O T E R
===============================================================*/
footer{
    margin-top:40px;
}
.footer_menu_sec{
     background-color: #f3f2ed;
     min-height: 266px;
}

.footer_menu_sec .container{
    padding: 40px 60px;
}

.footer_menu_sec .footer_title{
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 30px;
}


.wrap_footer_menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrap_footer_menu ul li a{
    font-size: 1.1rem;
    color: #502716;
}

.footer_address p{
    font-size: 1.1rem;
    color: #502716;
}

.footer_address p a{
    color: #502716;
}



.footer_copy_sec {
    padding: 0.6% 0;
}

.footer_copy_sec .created_by{
    text-align: right;
}

.footer_copy_sec .created_by a{
    color: #502716;
}

.footer_copy_sec .footer_copy,
.footer_copy_sec .created_by{
    color: #502716;
    font-size: 1rem;
}



/*===============================================================
                      4    0    4
===============================================================*/
section.product_table_sec {
    margin: 20px 0;
}
.mobile_image{
    display:none;
}
.mobile_header{
    display:none;
}
.sec_404{
    min-height: 650px;
}

.sec_404 h1{
    color: #502716;
}

.back_404{
    margin-top: 60px;
}

.back_404 a{
    color: #502716;
    font-size: 1.3rem;
}

.back_404 a:hover{
    text-decoration: underline;
}





/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    margin-right:-4px;
}


/** 5 columns bootstrap */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    width: 20%;
    float: left;
}
@media (max-width: 1200px) {
    .col-sm-15, .col-md-15 {
        width: 100%;
        float: left;
    }
}

.procat_img img {
    max-width: 100%;
}
